@import 'https://fonts.googleapis.com/css?family=Kaushan+Script';
@import 'https://fonts.googleapis.com/css?family=Maven+Pro';
@import 'https://fonts.googleapis.com/css?family=Architects+Daughter|Yanone+Kaffeesatz';
@import 'https://fonts.googleapis.com/css?family=Special+Elite';

body {
	font-size: 16px;
	background-color: white;
	font-family: 'Maven Pro', sans-serif;

}

h2 {
	font-family: 'Kaushan Script', cursive;
	text-align: center;
}

#img {
	background-image: url("images/chef_7.jpg");
	color: white;
	background-color: black;
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed scroll;
	background-position: center center;
	padding: 1em;
	margin-bottom: 3em;
	width: 99%;
	height: 500px;
	display:inline-block;
	
}



header {
	text-align: center;
}

#find {
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 70px;
	padding: 1em;

}

header a {
 	text-decoration: none;
 	color: white;
 	font-family: 'Architects Daughter', cursive;
 	font-weight: bolder;
 	display: inline-block;
 	padding: .5em;
 	margin: 2em;
 	font-size: 28px;
 	border: 1px solid white;

 }

nav a {
	text-decoration: none;
	color: white;
	font-size: 14px;
	padding: .5em 1em;
}

nav {
	text-align: right;
}

article {
	text-align: left;
	height: 700px;

	
}

footer {
	background-color: #c8aa76;
	padding: 2em;
	margin: 2em;
	height: 60px;
	text-align: center;
	
}

footer a {
	text-decoration: none;
	color: white;
	padding: 4em;

}
p {
	font-family: 'Special Elite', cursive;
	text-align: justify;
	letter-spacing: 2px;
	font-size: 22px;
}

.article {
	border: none;
	padding: 1em;
	margin: 2em;
	margin-left: 4em;
	width: 28%;
	float: left;
	letter-spacing: all;
	text-align: center;
	background-size: auto;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center center;
	display: inline-block;
	background-attachment: fixed scroll;
	

}


.article a {
	text-decoration: none;
	color: black;
}

.article a:hover {
	color: #f04494;
}

#img a:hover {
	color: #eea642;
}

#gplus:hover {
	color: #dd4b39;
} 

#info:hover {
	color: #007bb6;
}

#email:hover {
	color: #32506d;
}

#skype:hover {
	color: #00aff0;
}

#faq:hover {
	color: #008080;
}

#paypal:hover {
	color: #012169;
}

#facebook:hover {
	color: #3b5998;
}

#instagram:hover {
	color: #517fa4;
}

#twitter:hover {
	color: #00aced;
}

 @media only screen and ( max-width: 1850px) {

 	.article {
 		width: 22%;
 	}

 	.img_do {
	 	width: 100%;
	 }

	 nav a {
	 	padding: 3em;
	 }

	 footer a {
	 	padding: 2em;

	 }
 }

 @media only screen and ( max-width: 1350px) {

 	header a {
 		margin: .5em;
 	}

 	.article {
 		width: 25%;
 		margin: 2em;

 	}
 }

 @media only screen and ( max-width: 1200px) {

 	.article {
 		width: 25%;
 		margin: 1em;
 	}

 	header a {
 		margin: .2em;
 		font-size: 20px;
 	}

 	footer a {
 		padding: .5em;
 	}


 }


 @media only screen and ( max-width: 805px) {

 	.article {
 		width: 100%;
 		float: none;
 		margin: .2px;
 	
  	 }

 	 footer {
 	 	height: 35px;
 	 	margin: 2px;
 	 	padding: 2px;
 	 	width: 100%;
 	 	
	  }

	  footer a {
	  	padding: 2px;
	  	font-size: 10px;
	  	margin: 2px;
	  }

	  nav a {
	  	font-size: 10px;
	  	margin: 1em;
	  }

	  header a {
 		margin: 2em;
 		font-size: 15px;
 		
 	}

 	#find {
 		font-size: 40px;
 	}

 	h2 {
 		font-size: 16px;
 	}

 	p {
 		font-size: 16px;
 	}

 	

 	
 }










.clearfix {
    overflow: auto;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}




