	@import url(https://fonts.googleapis.com/css?family=Orbitron:400,700);
	@import url(https://fonts.googleapis.com/css?family=Kite+One);

	 body {
	 	background: url("images/estadio.jpg");
		background-size: auto;
		background-attachment: fixed;
		background-position: center center;
		font-style: normal;
	    font-size: 16px;
        text-align: left;
	    color: #45637F;
	    line-height: 1.5em;
	    margin: 2em;
	    letter-spacing: normal;
	    word-spacing: .5em;

	}	

	nav{
		background-color:#E8C66A;
		border: 1px black solid;
		padding: 20px;
		width: 100%;

	}

	header {
		background-color: #FFED74; 
		border: 1px black solid;
		padding: 20px;
		width: 100%;
	}

	article {
		background-color: #E89C6C;
		border: 1px black solid;
		padding: 20px;
	}

	aside {
		background-color: #FFC675;
		border: 1px black solid;
		padding: 20px;
	}

	h1 {
		color: #CC8F47;
		text-transform: uppercase;
		font-family: 'Orbitron', sans-serif;
		text-align: center;
		font-size: 2.5em;

	}

	h2 {
		font-family: 'Orbitron', sans-serif;

	}
    

	p {
	   font-family: 'Kite One', sans-serif;
	   font-variant: small-caps;
	   font-size: 1.5em;
	   font-weight: bolder;

	}
	 

	 #slogan { 
		font-weight: bold;
		color: white; 
		font-style: italic;
		text-align: center;
		font-size: 2em;

	 }

	 ul  {
	 	text-align: left;
	 	color: #45637F
	 	font-weight:bolder;
	 	font-variant: small-caps;
	 	font-family: 'Kite One', sans-serif;
	 	font-size: 1.5em;

	 }  

	 footer {
	 	background-color:#FF957E; 
	 	text-align: center;
	 	border: 1px black solid;
	 	padding: 20px;
	 	width: 100%;
	 	
	 	
	 }
	 
	 #offer {
	 	text-align: center;
	 	font-weight: bold;
	 	color: white;
	 	font-style: italic;
	 	text-transform: uppercase;
	 	font-size: 2em;
	 	border: 1px black solid;
	 	margin: .05em;
	 	float: left;
	 	padding: 20px;
	 	width: 45%;
	 	background-color: blue;


	 }


	 a {
	 	text-decoration: none;

	 }


	 #email {
	 	text-align: center;
	 	font-size: 1em;

	 }

	 #logo {
	 	text-align: left;
	 }

	 #nav {
	 	text-align: center;
	 	color: white;
	 }

	 #section_1{
	 	background-color: #FFB7CF;
	 	border: 1px black solid;
	 	padding: 20px;
	 	width: 100%;
	 }

	 .left {
	 	 background-color: violet;
 	     border: 1px black solid;
 	     margin: .05em;
         padding: 20px;
         float: left;
         width: 45%;
	 }

	 #right {
	 	background-color: pink;
        border: 1px black solid;
        margin: .05em;
        padding: 20px;
        float: right;
        width: 45%;
	 }

	 .clearfix:after {
	 	visibility: hidden;
	 	display: block;
	 	font-size: 0;
	 	content: " ";
	 	clear: both;
	 	height: 0;
	 }

	 @media only screen and ( max-width: 1010px) {

	 	#right, .left, #offer {
	 		width: 45%;
	 		padding: 5px;
	 		margin: .01em;
	 		font-size: .8em;
	 	}

	 	h1 {
	 		font-size: 2em;
	 	}

	 	#slogan {
	 		font-size: 2em;
	 	}
	 }

	 	@media only screen and ( max-width: 750px) {

	 	#right, .left, #offer {
	 		float: none;
	 		width: 100%;
	 		font-size: .8em;
	 	}

	 	h1 {
	 		font-size: 1.5em;
	 	}

	 	#slogan {
	 		font-size: 1.5em;
	 	}
	 }

	 @media only screen and ( max-width: 400px) {
	 	#nav {
	 		font-size: 1em;
	 	}
	 }




	 


	 





	



